<div class= "mx-auto max-w-3xl">
<h1 class="text-2xl font-bold mb-4">New product</h1>

<%= render "form", product: @product %>

<br>

<div class="mt-4">
  <%= link_to "Back to products", v1_client_products_path, class: "bg-red-500 text-white px-4 py-2 rounded-md hover:bg-red-400" %>
</div>
</div>
