<%# <p class="text-green-500"><%= notice %>

<%= render @order %>

<div class="mt-4">
  <%= link_to "All orders", v1_client_orders_path, class: "bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded" %>
</div>
<%# <%= button_to "Destroy this order", @order, method: :delete %>
