<p class="text-green-500 text-lg font-semibold mb-4"><%= notice %></p>

<%= link_to "Create New user", new_v1_client_user_path, class: "bg-blue-500 text-white px-6 py-3 rounded font-semibold hover:bg-blue-600" %>

<h1 class="text-4xl font-bold mb-6 mt-10 ">Users</h1>

<div id="users" class="grid grid-cols-2 gap-4 mt-16">

  <% @users.each do |user| %>
    <div class="bg-white shadow-md rounded-lg p-4">
      <%= render user %>
      <p class="mt-4">
        <%= link_to "Show this user", v1_client_user_path(user), class: "text-blue-500 font-medium" %>
      </p>
    </div>

  <% end %>
</div>

