<div class= "mx-auto max-w-3xl">
<h1 class="text-2xl font-bold mb-4"> Create New user</h1>

<%= render "form", user: @user %>

<hr class="my-8">

<div>
  <%= link_to "Back to users", v1_client_users_path, class: "bg-red-500 text-white px-6 py-3 rounded font-semibold hover:bg-blue-600" %>
</div>
</div>
