<div class="row">
  <div class="col-xs-offset-1 col-xs-10">
    <% flash.each do |name, msg| %>
      <div class="bg-white border border-gray-300 rounded-md shadow-md p-4 my-4 text-center
        <% if name == 'success' %>
          text-green-600 bg-green-100
        <% elsif name == 'danger' %>
          text-red-600 bg-red-100
        <% end %>"
      >
        <%= content_tag :div, msg, id: "flash#{name}", class: "font-bold" if msg.is_a?(String) %>
      </div>
    <% end %>
  </div>
</div>
